<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{128,0},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,72}</string>
                <key>spriteSourceSize</key>
                <string>{101,72}</string>
                <key>textureRect</key>
                <string>{{214,0},{101,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,49}</string>
                <key>spriteSourceSize</key>
                <string>{208,49}</string>
                <key>textureRect</key>
                <string>{{0,76},{208,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,157}</string>
                <key>spriteSourceSize</key>
                <string>{388,157}</string>
                <key>textureRect</key>
                <string>{{0,125},{388,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,49}</string>
                <key>spriteSourceSize</key>
                <string>{209,49}</string>
                <key>textureRect</key>
                <string>{{208,76},{209,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{54,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{417,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0c47eea25cb0bb70689902468bd085:e81f03a8634bebc079593a3ab2a85011:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
