<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,202}</string>
                <key>spriteSourceSize</key>
                <string>{635,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{635,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,202}</string>
                <key>spriteSourceSize</key>
                <string>{635,202}</string>
                <key>textureRect</key>
                <string>{{0,202},{635,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_2021_05_24T04_02_49_633Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,202}</string>
                <key>spriteSourceSize</key>
                <string>{635,202}</string>
                <key>textureRect</key>
                <string>{{0,404},{635,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigButton.png</string>
            <key>size</key>
            <string>{635,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fde028c8dfb828d35465e315b2835633:3de5de38f6bbcbf964c8ab3d189f7bec:f6254f9dfdb47566c30a4d03581d9a8f$</string>
            <key>textureFileName</key>
            <string>bigButton.png</string>
        </dict>
    </dict>
</plist>
