<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1064,166},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,158}</string>
                <key>spriteSourceSize</key>
                <string>{589,158}</string>
                <key>textureRect</key>
                <string>{{0,0},{589,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1243,166},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1422,166},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1601,166},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1780,166},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{0,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{179,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{358,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{537,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,168}</string>
                <key>spriteSourceSize</key>
                <string>{178,168}</string>
                <key>textureRect</key>
                <string>{{716,334},{178,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{894,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1073,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,158}</string>
                <key>spriteSourceSize</key>
                <string>{588,158}</string>
                <key>textureRect</key>
                <string>{{589,0},{588,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1252,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1431,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{179,167}</string>
                <key>textureRect</key>
                <string>{{885,166},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1610,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1789,334},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{0,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{179,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{358,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{537,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{716,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,158}</string>
                <key>spriteSourceSize</key>
                <string>{590,158}</string>
                <key>textureRect</key>
                <string>{{1177,0},{590,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{1767,0},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{0,166},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{177,166},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{354,166},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{531,166},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{708,166},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{895,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1074,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1253,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1432,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1611,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,168}</string>
                <key>spriteSourceSize</key>
                <string>{179,168}</string>
                <key>textureRect</key>
                <string>{{1790,502},{179,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconLevel.png</string>
            <key>size</key>
            <string>{1969,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b878698f09c25da9e431fed8829726f9:30d6f0899a1000fe28d8261f29d980bc:d7692ce8e0845552ff5e8e87f5e49056$</string>
            <key>textureFileName</key>
            <string>iconLevel.png</string>
        </dict>
    </dict>
</plist>
