<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{132,126}</string>
                <key>textureRect</key>
                <string>{{226,0},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,82}</string>
                <key>spriteSourceSize</key>
                <string>{61,82}</string>
                <key>textureRect</key>
                <string>{{43,0},{61,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,137}</string>
                <key>spriteSourceSize</key>
                <string>{320,137}</string>
                <key>textureRect</key>
                <string>{{358,0},{320,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FrameWIP_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{0,137},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NextLvIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,86}</string>
                <key>spriteSourceSize</key>
                <string>{122,86}</string>
                <key>textureRect</key>
                <string>{{104,0},{122,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StickIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,197}</string>
                <key>spriteSourceSize</key>
                <string>{206,197}</string>
                <key>textureRect</key>
                <string>{{149,137},{206,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,197}</string>
                <key>spriteSourceSize</key>
                <string>{206,197}</string>
                <key>textureRect</key>
                <string>{{355,137},{206,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wip_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,197}</string>
                <key>spriteSourceSize</key>
                <string>{206,197}</string>
                <key>textureRect</key>
                <string>{{561,137},{206,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smallButton.png</string>
            <key>size</key>
            <string>{767,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b074050c66e266c84008e061e25c780c:02e8630d1ffbb74529e3ff94856d5d82:074f9df05176599f2d562eb8a2ba1f7d$</string>
            <key>textureFileName</key>
            <string>smallButton.png</string>
        </dict>
    </dict>
</plist>
